Source: ofono2mm
Maintainer: Bardia Moshiri <fakeshell@bardia.tech>
Section: misc
Priority: optional
Build-Depends: debhelper-compat (= 13),
               dh-python,
               python3
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/furilabs/oFono2MM
Vcs-Git: https://github.com/furilabs/oFono2MM.git

Package: ofono2mm
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
	 python3-dbus-fast,
	 python3-gi,
	 modemmanager,
	 geoclue-2.0,
	 gir1.2-geoclue-2.0,
         gir1.2-modemmanager-1.0,
         python3-networkmanager,
         python3-dbus
Description: A python daemon implementing ModemManager DBus API and using ofono to manage the modem

Package: ofonoctl
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         python3-dbus,
         python3-tabulate
Description: control application for the ofono daemon
